# Ignore gitignore file
!.gitignore

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore virtual environments
venv
comb

# Ignore dependencies installed by package managers
node_modules/

# Ignore pycache files
__pycache__/

# Ignore compiled files (python)
*.pyc